In [3]:
import pyspark
from pyspark.sql import SparkSession

spark = SparkSession.builder \
    .master("local[*]") \
    .appName('test') \
    .getOrCreate()

24/03/05 06:41:40 WARN Utils: Your hostname, Saraths-MacBook-Pro.local resolves to a loopback address: 127.0.0.1; using 192.168.29.221 instead (on interface en0)
24/03/05 06:41:40 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
24/03/05 06:41:40 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
24/03/05 06:41:41 WARN Utils: Service 'SparkUI' could not bind on port 4040. Attempting port 4041.
24/03/05 06:41:41 WARN Utils: Service 'SparkUI' could not bind on port 4041. Attempting port 4042.
24/03/05 06:41:41 WARN Utils: Service 'SparkUI' could not bind on port 4042. Attempting port 4043.
24/03/05 06:41:41 WARN Utils: Service 'SparkUI' could not bind on port 4043. Attempting port 4044.

In [4]:
df_green = spark.read.parquet('data/pq/green/*/*')

In [5]:
df_green.registerTempTable('green')

/Users/sarathchandrika/Documents/data-engineering-zoomcamp/de_venv/lib/python3.9/site-packages/pyspark/sql/dataframe.py:329: FutureWarning: Deprecated in 2.0, use createOrReplaceTempView instead.
  warnings.warn("Deprecated in 2.0, use createOrReplaceTempView instead.", FutureWarning)

In [6]:
df_green_revenue = spark.sql("""
SELECT 
    date_trunc('hour', lpep_pickup_datetime) AS hour, 
    PULocationID AS zone,

    SUM(total_amount) AS amount,
    COUNT(1) AS number_records
FROM
    green
WHERE
    lpep_pickup_datetime >= '2020-01-01 00:00:00'
GROUP BY
    1, 2
""")

In [7]:
df_green_revenue \
    .repartition(20) \
    .write.parquet('data/report/revenue/green', mode='overwrite')

24/03/05 06:41:52 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 95.00% for 8 writers
24/03/05 06:41:52 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 95.00% for 8 writers
24/03/05 06:41:53 WARN GarbageCollectionMetrics: To enable non-built-in garbage collector(s) List(G1 Concurrent GC), users should configure it(them) to spark.eventLog.gcMetrics.youngGenerationGarbageCollectors or spark.eventLog.gcMetrics.oldGenerationGarbageCollectors

In [8]:
df_yellow = spark.read.parquet('data/pq/yellow/*/*')
df_yellow.registerTempTable('yellow')

In [9]:
df_yellow_revenue = spark.sql("""
SELECT 
    date_trunc('hour', tpep_pickup_datetime) AS hour, 
    PULocationID AS zone,

    SUM(total_amount) AS amount,
    COUNT(1) AS number_records
FROM
    yellow
WHERE
    tpep_pickup_datetime >= '2020-01-01 00:00:00'
GROUP BY
    1, 2
""")

In [10]:
df_yellow_revenue \
    .repartition(20) \
    .write.parquet('data/report/revenue/yellow', mode='overwrite')

24/03/05 06:46:33 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 95.00% for 8 writers
24/03/05 06:46:34 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 95.00% for 8 writers

In [11]:
df_green_revenue = spark.read.parquet('data/report/revenue/green')
df_yellow_revenue = spark.read.parquet('data/report/revenue/yellow')

In [12]:
df_green_revenue_tmp = df_green_revenue \
    .withColumnRenamed('amount', 'green_amount') \
    .withColumnRenamed('number_records', 'green_number_records')

df_yellow_revenue_tmp = df_yellow_revenue \
    .withColumnRenamed('amount', 'yellow_amount') \
    .withColumnRenamed('number_records', 'yellow_number_records')

In [13]:
df_join = df_green_revenue_tmp.join(df_yellow_revenue_tmp, on=['hour', 'zone'], how='outer')

In [14]:
df_join.write.parquet('data/report/revenue/total', mode='overwrite')

24/03/05 06:48:07 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 95.00% for 8 writers

In [15]:
df_join = spark.read.parquet('data/report/revenue/total')

In [16]:
df_join

DataFrame[hour: timestamp, zone: int, green_amount: double, green_number_records: bigint, yellow_amount: double, yellow_number_records: bigint]

In [17]:
df_zones = spark.read.parquet('zones/')

In [18]:
df_result = df_join.join(df_zones, df_join.zone == df_zones.LocationID)

In [19]:
df_result.drop('LocationID', 'zone').write.parquet('tmp/revenue-zones')

24/03/05 06:54:23 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 95.00% for 8 writers

In [21]:
df_result.show()

+-------------------+----+------------------+--------------------+------------------+---------------------+----------+---------+--------------------+------------+
|               hour|zone|      green_amount|green_number_records|     yellow_amount|yellow_number_records|LocationID|  Borough|                Zone|service_zone|
+-------------------+----+------------------+--------------------+------------------+---------------------+----------+---------+--------------------+------------+
|2020-01-01 00:00:00|  24|              87.6|                   3| 754.9500000000003|                   45|        24|Manhattan|        Bloomingdale| Yellow Zone|
|2020-01-01 00:00:00|  40|168.98000000000002|                   8|             89.97|                    5|        40| Brooklyn|     Carroll Gardens|   Boro Zone|
|2020-01-01 00:00:00|  49|266.76000000000005|                  14|185.64999999999998|                   10|        49| Brooklyn|        Clinton Hill|   Boro Zone|
|2020-01-01 00:00:00|  68|              NULL|                NULL| 7825.070000000011|                  396|        68|Manhattan|        East Chelsea| Yellow Zone|
|2020-01-01 00:00:00|  87|              NULL|                NULL| 2456.669999999999|                  112|        87|Manhattan|Financial Distric...| Yellow Zone|
|2020-01-01 00:00:00|  92|             80.72|                   3|              75.3|                    1|        92|   Queens|            Flushing|   Boro Zone|
|2020-01-01 00:00:00| 113|              NULL|                NULL| 3984.319999999998|                  220|       113|Manhattan|Greenwich Village...| Yellow Zone|
|2020-01-01 00:00:00| 132|              NULL|                NULL| 6786.390000000005|                  139|       132|   Queens|         JFK Airport|    Airports|
|2020-01-01 00:00:00| 135|              NULL|                NULL|              18.3|                    1|       135|   Queens|   Kew Gardens Hills|   Boro Zone|
|2020-01-01 00:00:00| 138|              NULL|                NULL|2745.8799999999997|                   72|       138|   Queens|   LaGuardia Airport|    Airports|
|2020-01-01 00:00:00| 141|              NULL|                NULL| 4306.829999999995|                  283|       141|Manhattan|     Lenox Hill West| Yellow Zone|
|2020-01-01 00:00:00| 153|              25.0|                   1|               7.8|                    1|       153|Manhattan|         Marble Hill|   Boro Zone|
|2020-01-01 00:00:00| 160|              11.3|                   1|              NULL|                 NULL|       160|   Queens|      Middle Village|   Boro Zone|
|2020-01-01 00:00:00| 163|              NULL|                NULL|2652.9799999999977|                  152|       163|Manhattan|       Midtown North| Yellow Zone|
|2020-01-01 00:00:00| 166| 504.0100000000001|                  33| 1597.309999999999|                  100|       166|Manhattan| Morningside Heights|   Boro Zone|
|2020-01-01 00:00:00| 170|              NULL|                NULL| 8266.010000000017|                  463|       170|Manhattan|         Murray Hill| Yellow Zone|
|2020-01-01 00:00:00| 185|              NULL|                NULL|             69.51|                    2|       185|    Bronx|      Pelham Parkway|   Boro Zone|
|2020-01-01 00:00:00| 186|              NULL|                NULL| 4011.449999999999|                  188|       186|Manhattan|Penn Station/Madi...| Yellow Zone|
|2020-01-01 00:00:00| 192|              12.3|                   1|              NULL|                 NULL|       192|   Queens|     Queensboro Hill|   Boro Zone|
|2020-01-01 00:00:00| 215| 546.3600000000001|                  18|             36.11|                    1|       215|   Queens|       South Jamaica|   Boro Zone|
+-------------------+----+------------------+--------------------+------------------+---------------------+----------+---------+--------------------+------------+
only showing top 20 rows